<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Posts</title>
</head>
<body>
    <h1>Community Posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ post.link }}" target="_blank">{{ post.title }}</a>
                <p>Author: {{ post.author }} | Date: {{ post.date }}</p>
                <p>{{ post.content }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>